# Default ignored files
/../../kata2.3.1./.idea/shelf/
/../../kata2.3.1./.idea/workspace.xml
# Datasource local storage ignored files
/../../kata2.3.1./.idea/dataSources/
/../../kata2.3.1./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../kata2.3.1./.idea/httpRequests/
